head {
    border-style: solid;
    border-color: red;;
}

h1 {
    text-align: center;
    
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

#click {
    text-align: center;
}

p {
    text-align: center;
}

h4 {
    text-align: center;
}

#btn {  
    margin-left: 810px;
    margin-top: 40px;
    /* width: 84px;
    height: 45px;   
    background: fixed;
    border: none;
    color: white;   
    font-size:14px;
    font-weight:700; */
}

input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

#sleep{
    position: relative;
    vertical-align: middle;
    margin: 0%;
}